.myPage-container {
 display: block;
}

.userTab {
  border-top: 1px solid #cfcfcf;
  height: 50px;
  padding: 10px 0;
  align-content: center;
}

a {
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
}


@media (max-width: 768px) {
  .userTab {
    height: 40px;
  }

  a {
    font-size: 0.8rem;
  }
}