#product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.product-item {
  width: 300px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  padding-bottom: 70px;
}

.product-item:hover {
  cursor: pointer;
}

.product-item img {
  width: 300px;
  object-fit: cover;
}

.product-item p {
  font-size: 1rem;
  margin: 20px 0;
}

.search-title {
  width: 100%;
  position: fixed;
  padding-top: 70px;
  background-color: #fff;
}

#search-title {
  height: 60px;
  padding-left: 20px;
  align-content: center;
}

.search-results {
  max-width: 1200px;
  width: 100%;
  padding-top: 150px;
}


.pagination {
  text-align: center;
  margin-bottom: 40px;
}





@media (max-width: 900px) {
  #product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  #product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
