#product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.product-item {
  width: 300px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  padding-bottom: 70px;
}

.product-item:hover {
  cursor: pointer;
}

.product-item img {
  width: 300px;
  object-fit: cover;
}

.product-item p {
  font-size: 1rem;
  margin: 20px 0;
}

.search-title {
  width: 100%;
  position: fixed;
  padding-top: 70px;
  background-color: #fff;
}

#search-title {
  height: 50px;
  padding-left: 10px;
  align-content: center;
}

.search-results {
  max-width: 1200px;
  width: 100%;
  padding-top: 140px;
}


.pagination {
  text-align: center;
  margin-bottom: 40px;
}






/* 태블릿 (768px 이하) */
@media (max-width: 768px) {
  #product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 모바일 (480px 이하) */
@media (max-width: 480px) {
  #product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-results {
    max-width: 480px;
    width: 100%;
    padding-top: 120px;
  }
}