* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 네비게이션 */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%; 
  max-width: 1200px;
  z-index: 1000;
  background-color: white;
}

.nav-left {
  display: flex;
  align-items: center; 
  height: 100%;
}

.nav-left a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.nav-right img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  background: none;
  border: none;
}

/* 검색창 설정 */

.search-input-container {
  width: 250px;
  height: 34px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  align-content: center;
  text-align: center;
}

.search-input-container.off {
  display: none;
}

.search-input-container.on {
  display: flex;
  width: 250px;
  height: 34px;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.search-input {
  padding: 5px;
  font-size: 14px;
}

.search-input::placeholder {
  color: #999;
}

.search-input.error-placeholder::placeholder {
  color: red;
  font-size: 12px;
}


/* 카테고리 설정 */

.category-container {
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 20px;
  text-align: center;
  position: fixed;
  z-index: 999;
}

.category-container.off {
  display: none;
}

.category-container.on {
  text-align: center;
  display: block;
}

.genderAge {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 15px;
  padding: 10px 5px;
  cursor: pointer;
}

.genderAge.active {
  color: red;
  border-bottom: 2px solid red;
}

.subcategory-container {
  display: none;
  margin-top: 15px;
  text-align: center;
  align-content: center;
  height: 150px;
}

.subcategory-container.active {
  display: block;
}

.subcategory-item {
  display: block;
  padding: 7px 0;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.subcategory-item:hover {
  color: #ff0000;
}


.body-container {
  padding: 30px;
  padding-top: 70px;
}

.page-name {
  font-size: 2rem;
  padding: 20px 0;
}




a {
  color: rgb(50, 55, 200);
  text-decoration: none;
  font-size: 0.9rem;
}



















/* 모바일 반응형 네비게이션 스타일 */
@media (max-width: 768px) {
  .nav-container {
    width: 100%;
    height: 56px;
    padding: 18px;
    width: 100%;
  }

  .nav-left a {
    width: 28px;
    height: 28px;
  }

  .nav-left img {
    width: 28px;
    height: 28px;
  }

  .nav-right {
    display: flex;
    gap: 0;
  }

  .nav-right img {
    width: 24px;
    height: 24px;
  }

  .nav-item {
    padding: 0 7px;
    font-weight: bold;
  }

  .search-input-container {
    width: 150px;
    height: 24px;
    padding: 10px;
  }

  .search-input-container.off {
    display: none;
  }

  .search-input-container.on {
    display: flex;
    width: 150px;
    height: 24px;
  }

  .search-input {
    padding: 3px;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #333;
    border-radius: 5px;
    color: black;
  }

  .search-input::placeholder {
    color: #333;
  }

  .category-container {
    top: 56px;
    padding: 10px;
  }

  .genderAge {
    font-size: 0.9rem;
    margin: 8px 5px;
    padding: 8px 5px;
  }

  .subcategory-container {
    margin-top: 5px;
    height: 130px;
  }

  .subcategory-item {
    font-size: 0.85rem;
  }
}