.userId-box,
.userInfo-box {
 border-top: 1px solid #999999;
 padding: 40px 0;
}

.info0 {
 margin-bottom: 30px;
}

.info1 {
  margin-bottom: 10px;
}

.userInfo-content {
  margin-bottom: 30px;
}


.userInfo-change {
  float: right;
  height: 30px;
  width: 150px;
  border: 1px solid #999;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

#move-myPage-btn {
  height: 50px;
  width: 300px;
  padding: 10px 40px;
  border: 1px solid #999;
  border-radius: 50px;
  background-color: white;
}

.userInfo-change:hover,
#move-myPage-btn:hover {
  cursor: pointer;
  border: 1px solid blue;
}

.email-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address-button-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 1000;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#modal-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#modal-body {
  align-items: center;
  align-content: center;
}

.changeInfo {
  height: 30px;
  width: 170px;
  margin: 5px 0;
  border: 1px solid #999;
  border-radius: 5px;
  padding-left: 5px;
}

#modal-check-duplicate {
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #999;
}

#modal-check-duplicate:hover {
  cursor: pointer;
  border-color: black;
}

#modal-save:hover {
  border: 1px solid blue;
  cursor: pointer;
}

#modal-save {
  margin-top: 20px;
  padding: 8px 20px;
  border: 1px solid #999;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}
















@media (max-width: 768px) {
  .userId-box,
  .userInfo-box {
  padding: 30px 0;
  }

  .userInfo-content {
    margin-bottom: 30px;
  }

  .userInfo-change {
    font-size: 0.8rem;
    width: 120px;
  }

  #move-myPage-btn {
    width: 90%;          /* 화면 너비의 90%로 확장 */
    max-width: 400px;    /* 너무 넓어지지 않게 제한 */
    margin: 20px auto;   /* 좌우 자동 마진 → 중앙 정렬 */
    display: block;      /* 블록 요소로 변경 */
  }

  .buttons {
    gap: 3px;
  }

  .close {
    font-size: 24px;
  }

  #modal-title {
    font-size: 1.2rem;
  }


  .changeInfo {
    height: 30px;
    width: 180px;
    margin: 5px 0;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 5px;
  }


  #modal-save {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
  }
}